# Core
streamlit==1.36.0
requests==2.31.0
python-dotenv==1.0.1

# Async & SignalR
aiohttp==3.9.3
signalrcore==0.9.6
websockets==12.0

# Telegram
pyTelegramBotAPI==4.19.1

# Database & Utilities
pytz==2024.1
python-dateutil==2.9.0.post0
Pillow==10.3.0

# Optional (Geliştirme)
pandas==2.2.2
numpy==1.26.4
rich==13.7.1
